<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= page.meta %>">
    <title><%= page.title %> | Merch EZ</title>
    <link rel="icon" href="/images/brand/icon.png">
    <%- include('../snippets/head-additions', { page: page }) %>
</head>
<body>
    <%# include('../snippets/body-additions') %>
    <%- include('../snippets/header', { 
        page: page,
        config: config    
    }) %>
    <body class="main-content-body">
        <%- body %> 
    </body>
    <%- include('../snippets/footer', { 
        page: page,
        config: config    
    }) %>
</body>
</html>